{
  "openapi": "3.0.0",
  "info": {
    "title": "HAR Imported API",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://console.scaleway.com/",
      "variables": {}
    },
    {
      "url": "https://proxy.ab.scaleway.com/api/features/",
      "variables": {}
    },
    {
      "url": "https://evs.nuage01.scaleway.com/",
      "variables": {}
    },
    {
      "url": "https://static.hotjar.com/c/",
      "variables": {}
    },
    {
      "url": "https://static.ads-twitter.com/",
      "variables": {}
    },
    {
      "url": "https://snap.licdn.com/li.lms-analytics/",
      "variables": {}
    },
    {
      "url": "https://www.googletagmanager.com/gtag/",
      "variables": {}
    },
    {
      "url": "https://connect.facebook.net/",
      "variables": {}
    },
    {
      "url": "https://px.ads.linkedin.com/",
      "variables": {}
    },
    {
      "url": "https://script.hotjar.com/",
      "variables": {}
    },
    {
      "url": "https://scaleway.my.salesforce.com/embeddedservice/5.0/",
      "variables": {}
    },
    {
      "url": "https://api.scaleway.com/",
      "variables": {}
    },
    {
      "url": "https://www.googleadservices.com/pagead/conversion/762587364/",
      "variables": {}
    },
    {
      "url": "https://analytics.twitter.com/i/",
      "variables": {}
    },
    {
      "url": "https://www.facebook.com/tr/",
      "variables": {}
    },
    {
      "url": "https://t.co/i/",
      "variables": {}
    },
    {
      "url": "https://googleads.g.doubleclick.net/pagead/viewthroughconversion/762587364/",
      "variables": {}
    },
    {
      "url": "https://www.google.com/pagead/1p-conversion/762587364/",
      "variables": {}
    },
    {
      "url": "https://sentry-par.scaleway.com/api/36/envelope/",
      "variables": {}
    },
    {
      "url": "https://www.google.ca/pagead/1p-conversion/762587364/",
      "variables": {}
    },
    {
      "url": "https://service.force.com/embeddedservice/5.0/",
      "variables": {}
    },
    {
      "url": "https://d.la1-core1.sfdc-urlt2q.salesforceliveagent.com/chat/rest/",
      "variables": {}
    },
    {
      "url": "https://api.nuage01.scaleway.com/v1/",
      "variables": {}
    }
  ],
  "paths": {
    "/organization": {
      "get": {
        "tags": [
          "https://console.scaleway.com/organization"
        ],
        "summary": "Organization_GET",
        "operationId": "Organization_GET",
        "parameters": [
          {
            "name": ":authority",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "console.scaleway.com"
            }
          },
          {
            "name": ":method",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "GET"
            }
          },
          {
            "name": ":path",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "/organization"
            }
          },
          {
            "name": ":scheme",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "https"
            }
          },
          {
            "name": "accept",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"
            }
          },
          {
            "name": "accept-encoding",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "gzip, deflate, br"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "en-US,en;q=0.9"
            }
          },
          {
            "name": "cache-control",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "max-age=0"
            }
          },
          {
            "name": "cookie",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "analytics_session_id=1693265069852; _gcl_au=1.1.730225054.1693265070; _hjFirstSeen=1; _hjSession_1769278=eyJpZCI6ImE4ZWRkMzEzLTQxYWEtNGYzNC04ZTQ5LTU5ZDVhYTNmMWQ0YSIsImNyZWF0ZWQiOjE2OTMyNjUwNzAyNzksImluU2FtcGxlIjpmYWxzZX0=; _hjAbsoluteSessionInProgress=0; _scw_rgpd_analytics=true; _scw_rgpd_functional=true; _scw_rgpd_marketing=true; _scw_rgpd_hash=1676567096; _hjIncludedInSessionSample_1769279=0; _hjSession_1769279=eyJpZCI6ImYzMTQxMDA0LTA1ZTAtNDViZi1hOTUxLTg3ZDYwYjc2OWM3ZSIsImNyZWF0ZWQiOjE2OTMyNjUwNzM5MzgsImluU2FtcGxlIjpmYWxzZX0=; _fbp=fb.1.1693265074221.978469546; ln_or=eyIxODAxNjMzIjoiZCJ9; _hjHasCachedUserAttributes=true; _hjSessionUser_1769279=eyJpZCI6IjAwZTY1YjllLTM5ZDctNTE4NC1iZmZiLWNhN2E5MzNlN2UwNSIsImNyZWF0ZWQiOjE2OTMyNjUwNzM5MzUsImV4aXN0aW5nIjp0cnVlfQ==; _console_uid=fe9a50ff-c07b-458f-a688-4a9bf8453fd5; __stripe_mid=e342da29-d28b-46f2-a3ea-4902384e0f9e05b8c4; __stripe_sid=44db1752-8bc1-43b7-b568-fa42bdcd56c057030a; _hjMinimizedPolls=873166; ajs_user_id=fe9a50ff-c07b-458f-a688-4a9bf8453fd5; ajs_anonymous_id=0842a50a-c1a9-4540-b4bb-e354ccb21404; _hjSessionUser_1769278=eyJpZCI6IjlhMTg2MjQ4LWJiZTktNTQxZi1hOGZjLWRjM2NkOTRhZmM4MCIsImNyZWF0ZWQiOjE2OTMyNjUwNzAyNjcsImV4aXN0aW5nIjp0cnVlfQ==; _hjIncludedInSessionSample_1769278=0; analytics_session_id.last_access=1693265567230"
            }
          },
          {
            "name": "sec-ch-ua",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "\"Not/A)Brand\";v=\"99\", \"Microsoft Edge\";v=\"115\", \"Chromium\";v=\"115\""
            }
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "?0"
            }
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "\"Windows\""
            }
          },
          {
            "name": "sec-fetch-dest",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "document"
            }
          },
          {
            "name": "sec-fetch-mode",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "navigate"
            }
          },
          {
            "name": "sec-fetch-site",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "same-origin"
            }
          },
          {
            "name": "sec-fetch-user",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "?1"
            }
          },
          {
            "name": "upgrade-insecure-requests",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36 Edg/115.0.1901.203"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "alt-svc": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "h3=\":443\"; ma=86400"
                  }
                }
              },
              "cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "public, max-age=60, stale-while-revalidate=300, stale-if-error=86400"
                  }
                }
              },
              "cf-cache-status": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "EXPIRED"
                  }
                }
              },
              "cf-ray": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "7fe05b74499e2db3-YVR"
                  }
                }
              },
              "content-encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "br"
                  }
                }
              },
              "date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 28 Aug 2023 23:33:05 GMT"
                  }
                }
              },
              "last-modified": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 28 Aug 2023 15:33:37 GMT"
                  }
                }
              },
              "referrer-policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "origin"
                  }
                }
              },
              "server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "strict-transport-security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=15552000"
                  }
                }
              },
              "vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "x-content-type-options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "x-frame-options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "x-scw-console-version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "3c4358fa39a103c1638a774ffba991e0361746fc"
                  }
                }
              },
              "x-xss-protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "example": "<!doctype html><html lang=\"en\" class=\"notranslate\" translate=\"no\"><head><meta charset=\"UTF-8\"/><title>Scaleway Elements Console</title><meta name=\"viewport\" content=\"initial-scale=0.8,user-scalable=yes,shrink-to-fit=no\"><meta name=\"description\" content=\"Begin your Journey in the Public Cloud and start scaling with us\"/><meta property=\"og:title\" content=\"Scaleway Elements Console\"/><meta property=\"og:description\" content=\"Begin your Journey in the Public Cloud and start scaling with us\"/><meta property=\"og:type\" content=\"website\"/><meta property=\"og:url\" content=\"https://console.scaleway.com\"/><meta property=\"og:local\" content=\"en_US\"/><meta property=\"og:image\" content=\"https://console.scaleway.com/social.png\"/><meta name=\"twitter:card\" content=\"summary_large_image\"/><meta name=\"twitter:title\" content=\"Scaleway Elements Console\"/><meta name=\"twitter:description\" content=\"Begin your Journey in the Public Cloud and start scaling with us\"/><meta name=\"twitter:image\" content=\"https://console.scaleway.com/social.png\"/><meta name=\"google\" content=\"notranslate\"/><link rel=\"icon\" type=\"image/svg+xml\" href=\"/favicon/favicon-lightdark.svg\"/><link rel=\"icon\" href=\"/favicon/favicon.ico\"/><link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/favicon/apple-touch-icon-180x180.png\"/><link rel=\"manifest\" href=\"manifest.json\"/><base href=\"/\"/><meta name=\"theme-color\" content=\"#4f0599\"><meta name=\"version\" content=\"v3.97.0\"><script defer=\"defer\" src=\"/static/js/ede96458dd712c3359fb.js\"></script><script defer=\"defer\" src=\"/static/js/3e30ce5f82f685ff3d73.js\"></script><script defer=\"defer\" src=\"/static/js/283638355cc1e4a03c6f.js\"></script></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id=\"app-root\" aria-hidden=\"false\"></div></body></html>"
                },
                "example": "<!doctype html><html lang=\"en\" class=\"notranslate\" translate=\"no\"><head><meta charset=\"UTF-8\"/><title>Scaleway Elements Console</title><meta name=\"viewport\" content=\"initial-scale=0.8,user-scalable=yes,shrink-to-fit=no\"><meta name=\"description\" content=\"Begin your Journey in the Public Cloud and start scaling with us\"/><meta property=\"og:title\" content=\"Scaleway Elements Console\"/><meta property=\"og:description\" content=\"Begin your Journey in the Public Cloud and start scaling with us\"/><meta property=\"og:type\" content=\"website\"/><meta property=\"og:url\" content=\"https://console.scaleway.com\"/><meta property=\"og:local\" content=\"en_US\"/><meta property=\"og:image\" content=\"https://console.scaleway.com/social.png\"/><meta name=\"twitter:card\" content=\"summary_large_image\"/><meta name=\"twitter:title\" content=\"Scaleway Elements Console\"/><meta name=\"twitter:description\" content=\"Begin your Journey in the Public Cloud and start scaling with us\"/><meta name=\"twitter:image\" content=\"https://console.scaleway.com/social.png\"/><meta name=\"google\" content=\"notranslate\"/><link rel=\"icon\" type=\"image/svg+xml\" href=\"/favicon/favicon-lightdark.svg\"/><link rel=\"icon\" href=\"/favicon/favicon.ico\"/><link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/favicon/apple-touch-icon-180x180.png\"/><link rel=\"manifest\" href=\"manifest.json\"/><base href=\"/\"/><meta name=\"theme-color\" content=\"#4f0599\"><meta name=\"version\" content=\"v3.97.0\"><script defer=\"defer\" src=\"/static/js/ede96458dd712c3359fb.js\"></script><script defer=\"defer\" src=\"/static/js/3e30ce5f82f685ff3d73.js\"></script><script defer=\"defer\" src=\"/static/js/283638355cc1e4a03c6f.js\"></script></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id=\"app-root\" aria-hidden=\"false\"></div></body></html>"
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "https://console.scaleway.com/",
            "variables": {}
          }
        ]
      }
    },
    "/static/js/ede96458dd712c3359fb.js": {
      "get": {
        "tags": [
          "https://console.scaleway.com/organization"
        ],
        "summary": "StaticJsEde96458dd712c3359fbJs_GET",
        "operationId": "StaticJsEde96458dd712c3359fbJs_GET",
        "parameters": [
          {
            "name": "sec-ch-ua",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "\"Not/A)Brand\";v=\"99\", \"Microsoft Edge\";v=\"115\", \"Chromium\";v=\"115\""
            }
          },
          {
            "name": "Referer",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "https://console.scaleway.com/"
            }
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "?0"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36 Edg/115.0.1901.203"
            }
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "\"Windows\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 28 Aug 2023 23:24:30 GMT"
                  }
                }
              },
              "content-encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "br"
                  }
                }
              },
              "x-content-type-options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "cf-cache-status": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "HIT"
                  }
                }
              },
              "age": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4614436"
                  }
                }
              },
              "alt-svc": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "h3=\":443\"; ma=86400"
                  }
                }
              },
              "x-xss-protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "referrer-policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "origin"
                  }
                }
              },
              "last-modified": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 06 Jul 2023 12:48:35 GMT"
                  }
                }
              },
              "server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "etag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "W/\"64a6b823-2138\""
                  }
                }
              },
              "x-frame-options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "public, max-age=31536000, stale-while-revalidate=300, stale-if-error=86400"
                  }
                }
              },
              "cf-ray": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "7fe04ee08d428405-YVR"
                  }
                }
              },
              "x-scw-console-version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "9070f77acf937a6b9f44f3d5daeeb2dd4b0ce10c"
                  }
                }
              }
            },
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string",
                  "example": "/*! For license information please see ede96458dd712c3359fb.js.LICENSE.txt */\n(()=>{\"use strict\";const d=\"__outdated\",e=sessionStorage.getItem(d)||\"false\";if(!new RegExp(/((CPU[ +]OS|iPhone[ +]OS|CPU[ +]iPhone|CPU IPhone OS)[ +]+(16|(1[7-9]|[2-9]\\d|\\d{3,}))[_.]\\d+(?:[_.]\\d+)?)|(Opera Mini(?:\\/att)?\\/?(\\d+)?(?:\\.\\d+)?(?:\\.\\d+)?)|(Opera\\/.+Opera Mobi.+Version\\/(12|(1[3-9]|[2-9]\\d|\\d{3,})|73|(7[4-9]|[8-9]\\d|\\d{3,}))\\.\\d+)|(Opera\\/(12|(1[3-9]|[2-9]\\d|\\d{3,})|73|(7[4-9]|[8-9]\\d|\\d{3,}))\\.\\d+.+Opera Mobi)|(Opera Mobi.+Opera(?:\\/|\\s+)(12|(1[3-9]|[2-9]\\d|\\d{3,})|73|(7[4-9]|[8-9]\\d|\\d{3,}))\\.\\d+)|((?:Chrome).*OPR\\/(99|([1-9]\\d\\d|\\d{4,}))\\.\\d+\\.\\d+)|(SamsungBrowser\\/(20|(2[1-9]|[3-9]\\d|\\d{3,}))\\.\\d+)|(Edge\\/(113|(11[4-9]|1[2-9]\\d|[2-9]\\d\\d|\\d{4,}))(?:\\.\\d+)?)|((Chromium|Chrome)\\/(109|(11\\d|[2-9]\\d\\d|\\d{4,})|113|(11[4-9]|1[2-9]\\d|[2-9]\\d\\d|\\d{4,}))\\.\\d+(?:\\.\\d+)?)|(PlayBook.+RIM Tablet OS (7|([8-9]|\\d{2,})|10|(1[1-9]|[2-9]\\d|\\d{3,}))\\.\\d+\\.\\d+)|((Black[bB]erry|BB10).+Version\\/(7|([8-9]|\\d{2,})|10|(1[1-9]|[2-9]\\d|\\d{3,}))\\.\\d+\\.\\d+)|((Black[bB]erry)\\s?(7|([8-9]|\\d{2,})|10|(1[1-9]|[2-9]\\d|\\d{3,})))|(Version\\/(16|(1[7-9]|[2-9]\\d|\\d{3,}))\\.\\d+(?:\\.\\d+)? Safari\\/)|(Firefox\\/(102|(10[3-9]|1[1-9]\\d|[2-9]\\d\\d|\\d{4,})|113|(11[4-9]|1[2-9]\\d|[2-9]\\d\\d|\\d{4,}))\\.\\d+\\.\\d+)|(Firefox\\/(102|(10[3-9]|1[1-9]\\d|[2-9]\\d\\d|\\d{4,})|113|(11[4-9]|1[2-9]\\d|[2-9]\\d\\d|\\d{4,}))\\.\\d+(pre|[ab]\\d+[a-z]*)?)/).test(navigator.userAgent)&&\"false\"===e){const e=document.createElement(\"style\");e.innerHTML=\"\\n  #outdated {\\n    position: fixed;\\n    z-index: 9999;\\n    width: 100%;\\n    display: flex;\\n    gap: 24px;\\n    background: #ff8c69;\\n    align-items: center;\\n    padding: 16px 60px 16px 16px;\\n    color: white;\\n    font-family: 'Open Sans', 'Segoe UI', sans-serif;\\n    box-shadow: 0px 8px 40px 10px #151A2D5C;\\n  }\\n\\n  @media (max-width: 768px) {\\n    #outdated {\\n      flex-direction: column;\\n      align-items: unset;\\n    }\\n  }\\n\\n  #outdated p {\\n    font-size: 12px;\\n  }\\n\\n  #outdated svg {\\n    max-height: 28px;\\n    width: fit-content;\\n  }\\n\\n  #outdated button {\\n    color: white;\\n    background: transparent;\\n    font-size: 28px;\\n    line-height: 28px;\\n    position: absolute;\\n    border: 0;\\n    right: 20px;\\n    top: 16px;\\n    cursor: pointer;\\n  }\\n\",document.head.append(e);const n=document.createElement(\"div\");n.setAttribute(\"id\",\"outdated\"),n.innerHTML='\\n  <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 160 40\">\\n    <g fill=\"#fff\" fill-rule=\"evenodd\">\\n      <path d=\"M14.984 30.96h6.378c1.398-.17 2.472-1.337 2.542-2.774v-9.343c0-.622-.247-1.182-.647-1.589a2.19 2.19 0 0 0-1.867-.638c-1.106.15-1.91 1.148-1.91 2.28v5.883c0 .933-.744 1.689-1.662 1.689h-2.89a2.19 2.19 0 0 0-1.564.657 2.265 2.265 0 0 0-.63 1.88c.133 1.08 1.178 1.955 2.25 1.955m2.872-21.332h-6.378c-1.397.17-2.471 1.337-2.542 2.773v9.344c0 .621.247 1.182.648 1.589a2.19 2.19 0 0 0 1.866.637c1.106-.149 1.91-1.147 1.91-2.28V15.81c0-.933.745-1.689 1.663-1.689h2.89c.61 0 1.163-.252 1.563-.658.461-.47.72-1.143.63-1.878-.133-1.081-1.178-1.956-2.25-1.956\" />\\n      <path d=\"M18.937.616H7.333C3.283.616 0 3.949 0 8.06v17.82c0 7.756 6.192 14.043 13.83 14.043h12.243c3.51-.287 6.32-3.083 6.69-6.619v-18.65C32.763 6.9 26.573.616 18.937.616m0 4.492c5.184 0 9.402 4.282 9.402 9.546v18.358a2.915 2.915 0 0 1-2.483 2.419H13.83c-5.194 0-9.405-4.276-9.405-9.55V8.06c0-1.631 1.3-2.953 2.908-2.953h11.604m30.789 26.112c-1.495 0-2.967-.383-4.374-1.137a10.286 10.286 0 0 1-3.5-3.055.781.781 0 0 1 .103-1.04l1.68-1.51a.751.751 0 0 1 1.143.165 6.88 6.88 0 0 0 2.282 2.28 5.587 5.587 0 0 0 2.94.827c1.113 0 1.948-.234 2.483-.696.505-.438.751-1.027.751-1.804 0-.86-.262-1.49-.802-1.927-.64-.52-1.71-.993-3.177-1.41-4.318-1.078-6.51-3.172-6.51-6.223 0-1.892.63-3.38 1.872-4.423 1.2-1.008 2.853-1.52 4.917-1.52 1.48 0 2.835.289 4.025.857 1.19.568 2.265 1.448 3.196 2.612a.786.786 0 0 1-.097 1.077l-1.624 1.398a.755.755 0 0 1-.646.166.796.796 0 0 1-.472-.32c-.587-.806-1.23-1.407-1.91-1.785-.674-.373-1.506-.562-2.472-.562-.986 0-1.789.226-2.386.674-.534.4-.793.933-.793 1.63 0 .734.243 1.294.742 1.712.586.49 1.64.923 3.135 1.285 2.03.555 3.625 1.331 4.762 2.315 1.228 1.062 1.85 2.558 1.85 4.444 0 1.175-.302 2.23-.898 3.138-.593.903-1.446 1.612-2.538 2.108-1.058.48-2.297.724-3.682.724m16.105.078c-1.381 0-2.635-.339-3.723-1.006-1.088-.666-1.95-1.605-2.564-2.789-.606-1.168-.913-2.503-.913-3.964 0-1.46.302-2.793.897-3.96.603-1.185 1.462-2.125 2.553-2.794 1.087-.667 2.33-1.005 3.695-1.005 1.176 0 2.225.265 3.118.787.863.505 1.654 1.225 2.354 2.138a.778.778 0 0 1-.132 1.08l-1.377 1.09a.753.753 0 0 1-1.09-.169c-.756-1.112-1.695-1.652-2.873-1.652-.72 0-1.348.18-1.917.55-.566.367-1.016.892-1.338 1.561-.333.692-.501 1.49-.501 2.374 0 .884.168 1.682.501 2.373.326.679.764 1.19 1.338 1.562.57.37 1.197.55 1.917.55.751 0 1.363-.125 1.819-.371.464-.251.895-.629 1.28-1.124a.748.748 0 0 1 1.053-.183l1.458 1.034a.78.78 0 0 1 .157 1.115 7.545 7.545 0 0 1-2.492 2.035 6.98 6.98 0 0 1-3.22.768m13.924-12.244c-.72 0-1.34.179-1.9.547-.56.368-1.007.89-1.329 1.554-.332.68-.5 1.474-.5 2.356 0 .902.169 1.71.502 2.401.326.68.76 1.192 1.327 1.565.559.368 1.18.547 1.9.547.74 0 1.376-.18 1.945-.55.574-.372 1.012-.884 1.338-1.561.332-.692.5-1.49.5-2.374.001-.883-.167-1.682-.5-2.374-.322-.668-.772-1.194-1.338-1.562-.569-.37-1.205-.55-1.945-.55m.055 12.244c-1.364 0-2.607-.337-3.696-1.005-1.088-.666-1.95-1.604-2.564-2.788-.606-1.17-.913-2.512-.913-3.993 0-1.461.302-2.79.898-3.949.603-1.174 1.457-2.107 2.535-2.775 1.08-.668 2.32-1.007 3.685-1.007a6.12 6.12 0 0 1 2.93.719c.298.16.584.346.854.554v-.055c0-.426.34-.77.759-.77h1.872c.419 0 .759.344.759.77v13.082c0 .425-.34.77-.76.77h-1.872a.765.765 0 0 1-.759-.77v-.047a6.326 6.326 0 0 1-.837.544 5.965 5.965 0 0 1-2.891.72m10.308-.515a.765.765 0 0 1-.759-.77l.001-19.494c0-.425.34-.77.759-.77h1.872c.419 0 .759.345.759.77v19.494c0 .425-.34.77-.76.77h-1.872zm32.694.069a.757.757 0 0 1-.723-.538l-2.443-7.81-2.642 7.827a.76.76 0 0 1-.717.52h-1.872a.76.76 0 0 1-.721-.529l-4.24-13.083a.777.777 0 0 1 .444-.96.768.768 0 0 1 .296-.05h1.963a.76.76 0 0 1 .722.533l2.588 8.145 2.632-8.148a.76.76 0 0 1 .72-.53h1.818c.331 0 .621.215.723.536l2.528 8.05 2.551-8.052a.758.758 0 0 1 .722-.535h1.777c.1 0 .202.016.296.055.392.166.555.59.438.954l-4.185 13.082a.757.757 0 0 1-.72.533h-1.955zm14.437-11.797c-.72 0-1.341.18-1.9.547-.56.369-1.007.891-1.33 1.554-.33.681-.499 1.474-.499 2.356 0 .902.169 1.71.502 2.401.326.68.76 1.192 1.327 1.565.559.368 1.18.547 1.9.547.74 0 1.376-.18 1.945-.55.574-.373 1.011-.883 1.337-1.562.333-.69.501-1.49.501-2.373 0-.883-.168-1.682-.5-2.374-.323-.668-.772-1.194-1.338-1.561-.569-.37-1.205-.55-1.945-.55m.055 12.244c-1.364 0-2.608-.338-3.696-1.005-1.088-.667-1.95-1.605-2.564-2.79-.606-1.168-.913-2.512-.913-3.992 0-1.46.302-2.79.898-3.949.603-1.173 1.456-2.107 2.535-2.775 1.08-.668 2.32-1.007 3.685-1.007a6.117 6.117 0 0 1 3.783 1.273v-.055c0-.426.34-.77.76-.77h1.871c.42 0 .76.344.76.77v13.082c0 .426-.34.77-.76.77h-1.872a.765.765 0 0 1-.759-.77v-.047a6.373 6.373 0 0 1-.838.545 5.98 5.98 0 0 1-2.89.72m-37.823-11.31c.62-.628 1.403-.934 2.395-.934 1.04 0 1.825.266 2.4.812.426.404.743.985.944 1.729h-6.74a4.28 4.28 0 0 1 1.001-1.607zm7.12 6.239a.826.826 0 0 0-1.116.151c-.32.385-.762.86-1.217 1.118-.608.345-1.401.528-2.364.528-1.134 0-1.997-.377-2.64-1.152a4.702 4.702 0 0 1-1.02-2.172h9.745a.76.76 0 0 0 .755-.694c.02-.214.03-.512.03-.886 0-1.354-.299-2.602-.89-3.708a6.873 6.873 0 0 0-2.475-2.654c-1.053-.649-2.241-.978-3.533-.978-1.364 0-2.604.339-3.684 1.007-1.08.67-1.933 1.608-2.536 2.792-.596 1.167-.898 2.5-.898 3.96 0 1.462.308 2.796.914 3.965.614 1.184 1.476 2.122 2.564 2.788 1.088.668 2.342 1.006 3.724 1.006 1.479 0 2.795-.294 3.887-.919a7.619 7.619 0 0 0 2.284-1.984.862.862 0 0 0-.19-1.218l-1.34-.95zm52.815-9.893a.77.77 0 0 0-.41-.107h-1.74a.763.763 0 0 0-.707.494l-3.637 9.552-3.46-9.563a.754.754 0 0 0-.705-.485h-1.954a.754.754 0 0 0-.63.34.78.78 0 0 0-.074.718l5.078 13.578h.007c-.15.605-.395 1.021-.735 1.25-.478.321-1.375.364-1.87.396a.83.83 0 0 0-.775.833v1.308c0 .462.369.837.823.835.795-.003 2.066.077 3.058-.455 2.043-1.097 2.35-2.456 2.923-4l5.13-13.757a.778.778 0 0 0-.322-.937\"/>\\n    </g>\\n  </svg>\\n  <div>\\n    <p>Your web browser is out of date. This might results in unexpected behavior.</p>\\n    <p>Update your browser for a better user experience.</p>\\n  </div>\\n  <button type=\"button\" onclick=\"closeOutdated()\">×</button>\\n',document.body.prepend(n),window.closeOutdated=()=>{n.remove(),sessionStorage.setItem(d,\"true\")}}})();"
                },
                "example": "/*! For license information please see ede96458dd712c3359fb.js.LICENSE.txt */\n(()=>{\"use strict\";const d=\"__outdated\",e=sessionStorage.getItem(d)||\"false\";if(!new RegExp(/((CPU[ +]OS|iPhone[ +]OS|CPU[ +]iPhone|CPU IPhone OS)[ +]+(16|(1[7-9]|[2-9]\\d|\\d{3,}))[_.]\\d+(?:[_.]\\d+)?)|(Opera Mini(?:\\/att)?\\/?(\\d+)?(?:\\.\\d+)?(?:\\.\\d+)?)|(Opera\\/.+Opera Mobi.+Version\\/(12|(1[3-9]|[2-9]\\d|\\d{3,})|73|(7[4-9]|[8-9]\\d|\\d{3,}))\\.\\d+)|(Opera\\/(12|(1[3-9]|[2-9]\\d|\\d{3,})|73|(7[4-9]|[8-9]\\d|\\d{3,}))\\.\\d+.+Opera Mobi)|(Opera Mobi.+Opera(?:\\/|\\s+)(12|(1[3-9]|[2-9]\\d|\\d{3,})|73|(7[4-9]|[8-9]\\d|\\d{3,}))\\.\\d+)|((?:Chrome).*OPR\\/(99|([1-9]\\d\\d|\\d{4,}))\\.\\d+\\.\\d+)|(SamsungBrowser\\/(20|(2[1-9]|[3-9]\\d|\\d{3,}))\\.\\d+)|(Edge\\/(113|(11[4-9]|1[2-9]\\d|[2-9]\\d\\d|\\d{4,}))(?:\\.\\d+)?)|((Chromium|Chrome)\\/(109|(11\\d|[2-9]\\d\\d|\\d{4,})|113|(11[4-9]|1[2-9]\\d|[2-9]\\d\\d|\\d{4,}))\\.\\d+(?:\\.\\d+)?)|(PlayBook.+RIM Tablet OS (7|([8-9]|\\d{2,})|10|(1[1-9]|[2-9]\\d|\\d{3,}))\\.\\d+\\.\\d+)|((Black[bB]erry|BB10).+Version\\/(7|([8-9]|\\d{2,})|10|(1[1-9]|[2-9]\\d|\\d{3,}))\\.\\d+\\.\\d+)|((Black[bB]erry)\\s?(7|([8-9]|\\d{2,})|10|(1[1-9]|[2-9]\\d|\\d{3,})))|(Version\\/(16|(1[7-9]|[2-9]\\d|\\d{3,}))\\.\\d+(?:\\.\\d+)? Safari\\/)|(Firefox\\/(102|(10[3-9]|1[1-9]\\d|[2-9]\\d\\d|\\d{4,})|113|(11[4-9]|1[2-9]\\d|[2-9]\\d\\d|\\d{4,}))\\.\\d+\\.\\d+)|(Firefox\\/(102|(10[3-9]|1[1-9]\\d|[2-9]\\d\\d|\\d{4,})|113|(11[4-9]|1[2-9]\\d|[2-9]\\d\\d|\\d{4,}))\\.\\d+(pre|[ab]\\d+[a-z]*)?)/).test(navigator.userAgent)&&\"false\"===e){const e=document.createElement(\"style\");e.innerHTML=\"\\n  #outdated {\\n    position: fixed;\\n    z-index: 9999;\\n    width: 100%;\\n    display: flex;\\n    gap: 24px;\\n    background: #ff8c69;\\n    align-items: center;\\n    padding: 16px 60px 16px 16px;\\n    color: white;\\n    font-family: 'Open Sans', 'Segoe UI', sans-serif;\\n    box-shadow: 0px 8px 40px 10px #151A2D5C;\\n  }\\n\\n  @media (max-width: 768px) {\\n    #outdated {\\n      flex-direction: column;\\n      align-items: unset;\\n    }\\n  }\\n\\n  #outdated p {\\n    font-size: 12px;\\n  }\\n\\n  #outdated svg {\\n    max-height: 28px;\\n    width: fit-content;\\n  }\\n\\n  #outdated button {\\n    color: white;\\n    background: transparent;\\n    font-size: 28px;\\n    line-height: 28px;\\n    position: absolute;\\n    border: 0;\\n    right: 20px;\\n    top: 16px;\\n    cursor: pointer;\\n  }\\n\",document.head.append(e);const n=document.createElement(\"div\");n.setAttribute(\"id\",\"outdated\"),n.innerHTML='\\n  <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 160 40\">\\n    <g fill=\"#fff\" fill-rule=\"evenodd\">\\n      <path d=\"M14.984 30.96h6.378c1.398-.17 2.472-1.337 2.542-2.774v-9.343c0-.622-.247-1.182-.647-1.589a2.19 2.19 0 0 0-1.867-.638c-1.106.15-1.91 1.148-1.91 2.28v5.883c0 .933-.744 1.689-1.662 1.689h-2.89a2.19 2.19 0 0 0-1.564.657 2.265 2.265 0 0 0-.63 1.88c.133 1.08 1.178 1.955 2.25 1.955m2.872-21.332h-6.378c-1.397.17-2.471 1.337-2.542 2.773v9.344c0 .621.247 1.182.648 1.589a2.19 2.19 0 0 0 1.866.637c1.106-.149 1.91-1.147 1.91-2.28V15.81c0-.933.745-1.689 1.663-1.689h2.89c.61 0 1.163-.252 1.563-.658.461-.47.72-1.143.63-1.878-.133-1.081-1.178-1.956-2.25-1.956\" />\\n      <path d=\"M18.937.616H7.333C3.283.616 0 3.949 0 8.06v17.82c0 7.756 6.192 14.043 13.83 14.043h12.243c3.51-.287 6.32-3.083 6.69-6.619v-18.65C32.763 6.9 26.573.616 18.937.616m0 4.492c5.184 0 9.402 4.282 9.402 9.546v18.358a2.915 2.915 0 0 1-2.483 2.419H13.83c-5.194 0-9.405-4.276-9.405-9.55V8.06c0-1.631 1.3-2.953 2.908-2.953h11.604m30.789 26.112c-1.495 0-2.967-.383-4.374-1.137a10.286 10.286 0 0 1-3.5-3.055.781.781 0 0 1 .103-1.04l1.68-1.51a.751.751 0 0 1 1.143.165 6.88 6.88 0 0 0 2.282 2.28 5.587 5.587 0 0 0 2.94.827c1.113 0 1.948-.234 2.483-.696.505-.438.751-1.027.751-1.804 0-.86-.262-1.49-.802-1.927-.64-.52-1.71-.993-3.177-1.41-4.318-1.078-6.51-3.172-6.51-6.223 0-1.892.63-3.38 1.872-4.423 1.2-1.008 2.853-1.52 4.917-1.52 1.48 0 2.835.289 4.025.857 1.19.568 2.265 1.448 3.196 2.612a.786.786 0 0 1-.097 1.077l-1.624 1.398a.755.755 0 0 1-.646.166.796.796 0 0 1-.472-.32c-.587-.806-1.23-1.407-1.91-1.785-.674-.373-1.506-.562-2.472-.562-.986 0-1.789.226-2.386.674-.534.4-.793.933-.793 1.63 0 .734.243 1.294.742 1.712.586.49 1.64.923 3.135 1.285 2.03.555 3.625 1.331 4.762 2.315 1.228 1.062 1.85 2.558 1.85 4.444 0 1.175-.302 2.23-.898 3.138-.593.903-1.446 1.612-2.538 2.108-1.058.48-2.297.724-3.682.724m16.105.078c-1.381 0-2.635-.339-3.723-1.006-1.088-.666-1.95-1.605-2.564-2.789-.606-1.168-.913-2.503-.913-3.964 0-1.46.302-2.793.897-3.96.603-1.185 1.462-2.125 2.553-2.794 1.087-.667 2.33-1.005 3.695-1.005 1.176 0 2.225.265 3.118.787.863.505 1.654 1.225 2.354 2.138a.778.778 0 0 1-.132 1.08l-1.377 1.09a.753.753 0 0 1-1.09-.169c-.756-1.112-1.695-1.652-2.873-1.652-.72 0-1.348.18-1.917.55-.566.367-1.016.892-1.338 1.561-.333.692-.501 1.49-.501 2.374 0 .884.168 1.682.501 2.373.326.679.764 1.19 1.338 1.562.57.37 1.197.55 1.917.55.751 0 1.363-.125 1.819-.371.464-.251.895-.629 1.28-1.124a.748.748 0 0 1 1.053-.183l1.458 1.034a.78.78 0 0 1 .157 1.115 7.545 7.545 0 0 1-2.492 2.035 6.98 6.98 0 0 1-3.22.768m13.924-12.244c-.72 0-1.34.179-1.9.547-.56.368-1.007.89-1.329 1.554-.332.68-.5 1.474-.5 2.356 0 .902.169 1.71.502 2.401.326.68.76 1.192 1.327 1.565.559.368 1.18.547 1.9.547.74 0 1.376-.18 1.945-.55.574-.372 1.012-.884 1.338-1.561.332-.692.5-1.49.5-2.374.001-.883-.167-1.682-.5-2.374-.322-.668-.772-1.194-1.338-1.562-.569-.37-1.205-.55-1.945-.55m.055 12.244c-1.364 0-2.607-.337-3.696-1.005-1.088-.666-1.95-1.604-2.564-2.788-.606-1.17-.913-2.512-.913-3.993 0-1.461.302-2.79.898-3.949.603-1.174 1.457-2.107 2.535-2.775 1.08-.668 2.32-1.007 3.685-1.007a6.12 6.12 0 0 1 2.93.719c.298.16.584.346.854.554v-.055c0-.426.34-.77.759-.77h1.872c.419 0 .759.344.759.77v13.082c0 .425-.34.77-.76.77h-1.872a.765.765 0 0 1-.759-.77v-.047a6.326 6.326 0 0 1-.837.544 5.965 5.965 0 0 1-2.891.72m10.308-.515a.765.765 0 0 1-.759-.77l.001-19.494c0-.425.34-.77.759-.77h1.872c.419 0 .759.345.759.77v19.494c0 .425-.34.77-.76.77h-1.872zm32.694.069a.757.757 0 0 1-.723-.538l-2.443-7.81-2.642 7.827a.76.76 0 0 1-.717.52h-1.872a.76.76 0 0 1-.721-.529l-4.24-13.083a.777.777 0 0 1 .444-.96.768.768 0 0 1 .296-.05h1.963a.76.76 0 0 1 .722.533l2.588 8.145 2.632-8.148a.76.76 0 0 1 .72-.53h1.818c.331 0 .621.215.723.536l2.528 8.05 2.551-8.052a.758.758 0 0 1 .722-.535h1.777c.1 0 .202.016.296.055.392.166.555.59.438.954l-4.185 13.082a.757.757 0 0 1-.72.533h-1.955zm14.437-11.797c-.72 0-1.341.18-1.9.547-.56.369-1.007.891-1.33 1.554-.33.681-.499 1.474-.499 2.356 0 .902.169 1.71.502 2.401.326.68.76 1.192 1.327 1.565.559.368 1.18.547 1.9.547.74 0 1.376-.18 1.945-.55.574-.373 1.011-.883 1.337-1.562.333-.69.501-1.49.501-2.373 0-.883-.168-1.682-.5-2.374-.323-.668-.772-1.194-1.338-1.561-.569-.37-1.205-.55-1.945-.55m.055 12.244c-1.364 0-2.608-.338-3.696-1.005-1.088-.667-1.95-1.605-2.564-2.79-.606-1.168-.913-2.512-.913-3.992 0-1.46.302-2.79.898-3.949.603-1.173 1.456-2.107 2.535-2.775 1.08-.668 2.32-1.007 3.685-1.007a6.117 6.117 0 0 1 3.783 1.273v-.055c0-.426.34-.77.76-.77h1.871c.42 0 .76.344.76.77v13.082c0 .426-.34.77-.76.77h-1.872a.765.765 0 0 1-.759-.77v-.047a6.373 6.373 0 0 1-.838.545 5.98 5.98 0 0 1-2.89.72m-37.823-11.31c.62-.628 1.403-.934 2.395-.934 1.04 0 1.825.266 2.4.812.426.404.743.985.944 1.729h-6.74a4.28 4.28 0 0 1 1.001-1.607zm7.12 6.239a.826.826 0 0 0-1.116.151c-.32.385-.762.86-1.217 1.118-.608.345-1.401.528-2.364.528-1.134 0-1.997-.377-2.64-1.152a4.702 4.702 0 0 1-1.02-2.172h9.745a.76.76 0 0 0 .755-.694c.02-.214.03-.512.03-.886 0-1.354-.299-2.602-.89-3.708a6.873 6.873 0 0 0-2.475-2.654c-1.053-.649-2.241-.978-3.533-.978-1.364 0-2.604.339-3.684 1.007-1.08.67-1.933 1.608-2.536 2.792-.596 1.167-.898 2.5-.898 3.96 0 1.462.308 2.796.914 3.965.614 1.184 1.476 2.122 2.564 2.788 1.088.668 2.342 1.006 3.724 1.006 1.479 0 2.795-.294 3.887-.919a7.619 7.619 0 0 0 2.284-1.984.862.862 0 0 0-.19-1.218l-1.34-.95zm52.815-9.893a.77.77 0 0 0-.41-.107h-1.74a.763.763 0 0 0-.707.494l-3.637 9.552-3.46-9.563a.754.754 0 0 0-.705-.485h-1.954a.754.754 0 0 0-.63.34.78.78 0 0 0-.074.718l5.078 13.578h.007c-.15.605-.395 1.021-.735 1.25-.478.321-1.375.364-1.87.396a.83.83 0 0 0-.775.833v1.308c0 .462.369.837.823.835.795-.003 2.066.077 3.058-.455 2.043-1.097 2.35-2.456 2.923-4l5.13-13.757a.778.778 0 0 0-.322-.937\"/>\\n    </g>\\n  </svg>\\n  <div>\\n    <p>Your web browser is out of date. This might results in unexpected behavior.</p>\\n    <p>Update your browser for a better user experience.</p>\\n  </div>\\n  <button type=\"button\" onclick=\"closeOutdated()\">×</button>\\n',document.body.prepend(n),window.closeOutdated=()=>{n.remove(),sessionStorage.setItem(d,\"true\")}}})();"
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "https://console.scaleway.com/",
            "variables": {}
          }
        ]
      }
    },
    "/static/js/3e30ce5f82f685ff3d73.js": {
      "get": {
        "tags": [
          "https://console.scaleway.com/organization"
        ],
        "summary": "StaticJs3e30ce5f82f685ff3d73Js_GET",
        "operationId": "StaticJs3e30ce5f82f685ff3d73Js_GET",
        "parameters": [
          {
            "name": "sec-ch-ua",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "\"Not/A)Brand\";v=\"99\", \"Microsoft Edge\";v=\"115\", \"Chromium\";v=\"115\""
            }
          },
          {
            "name": "Referer",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "https://console.scaleway.com/"
            }
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "?0"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36 Edg/115.0.1901.203"
            }
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "\"Windows\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 28 Aug 2023 23:24:30 GMT"
                  }
                }
              },
              "content-encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "br"
                  }
                }
              },
              "x-content-type-options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "cf-cache-status": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "HIT"
                  }
                }
              },
              "age": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "17609"
                  }
                }
              },
              "alt-svc": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "h3=\":443\"; ma=86400"
                  }
                }
              },
              "x-xss-protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "referrer-policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "origin"
                  }
                }
              },
              "last-modified": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 28 Aug 2023 15:33:46 GMT"
                  }
                }
              },
              "server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "etag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "W/\"64ecbe5a-3252f2\""
                  }
                }
              },
              "x-frame-options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "public, max-age=31536000, stale-while-revalidate=300, stale-if-error=86400"
                  }
                }
              },
              "cf-ray": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "7fe04ee08d448405-YVR"
                  }
                }
              },
              "x-scw-console-version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "3c4358fa39a103c1638a774ffba991e0361746fc"
                  }
                }
              }
            },
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "https://console.scaleway.com/",
            "variables": {}
          }
        ]
      }
    },
    "/static/js/283638355cc1e4a03c6f.js": {
      "get": {
        "tags": [
          "https://console.scaleway.com/organization"
        ],
        "summary": "StaticJs283638355cc1e4a03c6fJs_GET",
        "operationId": "StaticJs283638355cc1e4a03c6fJs_GET",
        "parameters": [
          {
            "name": "sec-ch-ua",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "\"Not/A)Brand\";v=\"99\", \"Microsoft Edge\";v=\"115\", \"Chromium\";v=\"115\""
            }
          },
          {
            "name": "Referer",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "https://console.scaleway.com/"
            }
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "?0"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36 Edg/115.0.1901.203"
            }
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "\"Windows\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 28 Aug 2023 23:24:30 GMT"
                  }
                }
              },
              "content-encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "br"
                  }
                }
              },
              "x-content-type-options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "cf-cache-status": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "HIT"
                  }
                }
              },
              "age": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "17609"
                  }
                }
              },
              "alt-svc": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "h3=\":443\"; ma=86400"
                  }
                }
              },
              "x-xss-protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "referrer-policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "origin"
                  }
                }
              },
              "last-modified": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 28 Aug 2023 15:33:41 GMT"
                  }
                }
              },
              "server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "etag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "W/\"64ecbe55-c5156\""
                  }
                }
              },
              "x-frame-options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "public, max-age=31536000, stale-while-revalidate=300, stale-if-error=86400"
                  }
                }
              },
              "cf-ray": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "7fe04ee09d4c8405-YVR"
                  }
                }
              },
              "x-scw-console-version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "3c4358fa39a103c1638a774ffba991e0361746fc"
                  }
                }
              }
            },
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "servers": [
          {
            "url": "https://console.scaleway.com/",
            "variables": {}
          }
        ]
      }
    },
    "/static/js/d771e7abee3630aa2c44.js": {
      "get": {
        "tags": [
          "https://console.scaleway.com/organization"
        ],
        "summary": "StaticJsD771e7abee3630aa2c44Js_GET",
        "operationId": "StaticJsD771e7abee3630aa2c44Js_GET",
        "parameters": [
          {
            "name": "sec-ch-ua",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "\"Not/A)Brand\";v=\"99\", \"Microsoft Edge\";v=\"115\", \"Chromium\";v=\"115\""
            }
          },
          {
            "name": "Referer",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "https://console.scaleway.com/"
            }
          },
          {
            "name": "sec-ch-ua-mobile",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "?0"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36 Edg/115.0.1901.203"
            }
          },
          {
            "name": "sec-ch-ua-platform",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "\"Windows\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 28 Aug 2023 23:24:30 GMT"
                  }
                }
              },
              "content-encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "br"
                  }
                }
              },
              "x-content-type-options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "cf-cache-status": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "HIT"
                  }
                }
              },
              "age": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "17607"
                  }
                }
              },
              "alt-svc": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "h3=\":443\"; ma=86400"
                  }
                }
              },
              "x-xss-protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "referrer-policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "origin"
                  }
                }
              },
              "last-modified": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 28 Aug 2023 15:33:46 GMT"
                  }
                }
              },
              "server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "etag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "W/\"64ecbe5a-15957\""
                  }
                }
              },
              "x-frame-options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding"
                  }
                }
              },
              "cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "public, max-age=31536000, stale-while-revalidate=300, stale-if-error=86400"
                  }
                }
              },
              "cf-ray": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "7fe04ee3982a8405-YVR"
                  }
                }
              },
              "x-scw-console-version": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "3c4358fa39a103c1638a774ffba991e0361746fc"
                  }
                }
              }
            },
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string",
                  "example": "/*! For license information please see d771e7abee3630aa2c44.js.LICENSE.txt */\n\"use strict\";(self.webpackChunk_shire_console=self.webpackChunk_shire_console||[]).push([[38909],{38909:(e,o,a)=>{a.r(o),a.d(o,{default:()=>t});const t={console:\"Scaleway Console\",backToHome:\"Back to home\",backToDashboard:\"Back to dashboard\",reportFeedback:\"Report feedback\",error:\"Oops, something went wrong.\",\"error.teamNotified\":\"Our team has been notified.\",\"error.tellUs\":\"If you'd like to help, tell us what happened below.\",auto:\"Auto\",current:\"Current\",change:\"Change\",ok:\"OK\",default:\"Default\",yes:\"Yes\",no:\"No\",on:\"On\",off:\"Off\",cancel:\"Cancel\",submit:\"Submit\",comingSoon:\"Coming soon\",new:\"New\",version:\"Version\",fr:\"French\",en:\"English\",es:\"Spanish\",ru:\"Russian\",de:\"German\",or:\"or\",and:\"and\",delete:\"Delete\",confirm:\"Confirm\",deactivate:\"Deactivate\",decline:\"Decline\",disable:\"Disable\",disabled:\"Disabled\",edit:\"Edit\",free:\"Free\",enabled:\"Enabled\",copy:\"Copy\",copied:\"Copied.\",learnMore:\"Learn more\",created_at:\"Created at\",hide:\"Hide\",included:\"Included\",updated_at:\"Last modified\",\"gotit!\":\"Got it.\",status:\"Status\",visibility:\"Visibility\",location:\"Location\",loading:\"Loading…\",retry:\"Retry\",manage:\"Manage\",next:\"Next\",languages:\"Languages\",name:\"Name\",noOffer:\"No offer currently available\",show:\"Show\",size:\"Size\",private:\"Private\",public:\"Public\",region:\"Region\",availabilityZone:\"Availability Zone\",tags:\"Tags\",type:\"Type\",previous:\"Previous\",endpoint:\"Endpoint\",backup:\"Backup\",success:\"Success\",upload:\"Upload\",close:\"Close\",instances:\"Instances\",ip_range:\"IP Range\",excl_taxes:\"excl. taxes\",more:\"More\",hourly:\"Hourly\",monthly:\"Monthly\",validate:\"Validate\",notDefinedAcronym:\"N/D\",itemSelected:\"{count, plural, =1 {{count} item selected} other {{count} items selected}}\",\"beCareful!\":\"Be careful.\",\"sentryFeedback.title\":\"Crash report\",\"sentryFeedback.subtitle\":\"Our team has been notified.\\n\\nIf you would like to help, tell us what happened below.\",\"sentryFeedback.labelName\":\"Name\",\"sentryFeedback.labelEmail\":\"Email\",\"sentryFeedback.labelComments\":\"What happened?\",\"sentryFeedback.labelClose\":\"Close\",\"sentryFeedback.labelSubmit\":\"Submit crash report\",\"sentryFeedback.errorGeneric\":\"Failed to submit crash report. Retry.\",\"sentryFeedback.errorFormEntry\":\"Some fields are not valid. Fix any errors and try again.\",\"sentryFeedback.successMessage\":\"Feedback sent. Thank you for your help.\",\"reportabuse.headTitle\":\"Report abuse\",\"reportabuse.head\":\"Report Abuse\",\"reportabuse.head.description\":\"Use the form below to report abuse from our network. You will receive an email once your alert is handled (24h to 48 hours).\",\"reportabuse.head.notice\":\"Learn more about the abuse reporting process by reading our {link}.\",\"reportabuse.head.notice.link.label\":\"abuse policy\",\"reportabuse.head.notice.link.url\":\"https://www.scaleway.com/en/abuse-notice/\",\"reportabuse.bruteforce\":\"Brute force\",\"reportabuse.copyright\":\"Illegal content\",\"reportabuse.irc\":\"IRC\",\"reportabuse.openrelay\":\"Openrelay\",\"reportabuse.securityhole\":\"Security hole\",\"reportabuse.virus\":\"Virus\",\"reportabuse.spam\":\"Spam\",\"reportabuse.botnet\":\"Botnet\",\"reportabuse.phishing\":\"Phishing\",\"reportabuse.dos\":\"Dos\",\"reportabuse.submit\":\"Submit abuse report\",\"reportabuse.toast.success.create\":\"Abuse report created. This report will be investigated.\",\"token.invalid.authentication\":\"Invalid authentication token\",\"token.expired\":\"Tokens are expired and not renewable\",\"dropdown.dotsTitle\":\"Toggle options\",\"dropdown.dotsMore\":\"Toggle more\",\"dropdown.info\":\"More info\",\"dropdown.createSnapshot\":\"Create snapshot\",\"dropdown.detach\":\"Detach\",\"dropdown.clone\":\"Clone\",\"dropdown.destroy\":\"Destroy\",\"dropdown.delete\":\"Delete\",\"region.unavailable\":\"This region is not available\",\"selectBar.selectedItems.singular\":\"item selected\",\"selectBar.selectedItems.plural\":\"items selected\",\"stepper.minValueWarning\":\"Stepper value can't be lower than {minValue}.\",\"stepper.maxValueWarning\":\"Stepper value can't be higher than {maxValue}.\",\"list.notSelectable\":\"No multi-selection action on this element\",\"list.noTags\":\"no tags\",\"list.empty\":\"This list is empty\",\"toast.success\":\"Action was triggered.\",\"dataLoader.error\":\"Failed to load data. Try refreshing the page.\",\"dataLoader.partial_unavailable\":\"Some data services seem to be unavailable\",\"dataLoader.data_not_found\":\"Data not found\",\"form.advancedSection.title\":\"Advanced options\",\"form.generatePassword\":\"Generate password\",\"form.allFieldsRequired\":\"All fields are required\",\"form.errors.formErrorNoRetry\":\"An error occurred.\",\"form.errors.formError\":\"An error occurred. Retry.\",\"form.errors.required\":\"{label} is required.\",\"form.errors.mustBeAdvancedDomainName\":\"{label} must be a valid domain name.\",\"form.errors.mustBeChecked\":\"Check {label}.\",\"form.errors.mustBeChecked.label\":\"this box\",\"form.errors.select\":\"Must select an option.\",\"form.errors.mustBeBasicDomain\":\"{label} must be a fully qualified domain name (eg example.fr)\",\"form.errors.mustBeReverseDNS\":\"{label} does not comply with the expected FQDN format.\",\"form.errors.mustBeDashedIpAddress\":\"{label} must have a type A host entry pointing on this IP address.\",\"form.errors.mustBeIpAddressWithMappedPort\":\"{label} must be an IP address, followed by the port like 10.000.0.000:00000 and to be in the same subnet.\",\"form.errors.regex\":\"{label} must match with Regex {regex}.\",\"form.errors.mustHaveMinLength\":\"{length, plural, =0 {Choose {label}.} =1 {{label} must have at least one character.} other {{label} must have at least # characters.}}\",\"form.errors.mustHaveMaxLength\":\"{length, plural, =0 {Choose {label}.} =1 {{label} must not exceed one character.} other {{label} must not exceed # characters.}}\",\"form.errors.mustHaveUppercase\":\"{label} must have at least one uppercase letter.\",\"form.errors.mustHaveLowercase\":\"{label} must have at least one lowercase letter.\",\"form.errors.mustHaveDigit\":\"{label} must have at least one number.\",\"form.errors.mustContainUpperLowerNumberAndSpecial\":\"{label} must contain at least 1 uppercase, 1 lowercase, 1 number and 1 special character (@$!%*?&)\",\"form.errors.mustContainUpperLowerNumberAndSpecialOmitHashAndAmpersand\":\"{label} should contain at least 1 uppercase, 1 lowercase, 1 number and 1 special character (@$!%*?+/)\",\"form.errors.mustHaveSpecialCharacter\":\"{label} must have at least one special character.\",\"form.errors.mustHaveExactLength\":\"{length, plural, =0 {} =1 {{label} must be one character.} other {{label} must be # characters.}}\",\"form.errors.mustHaveFirstCharacterAlpha\":\"{label} must start with a letter.\",\"form.errors.mustBeDigits\":\"{label} must only contain digits.\",\"form.errors.mustBeEmail\":\"Email is not valid.\",\"form.errors.mustBeFourDigitsCode\":\"Must be a 4 digit code.\",\"form.errors.mustBeSixDigitsCode\":\"Must be a 6 digit code.\",\"form.errors.mustBeHexadecimal\":\"Must be an hexadecimal value.\",\"form.errors.mustBeUrl\":\"URL is not valid.\",\"form.errors.mustBePhone\":\"Phone number should match format +33123456789\",\"form.errors.mustBeBefore\":\"{label} must be before {date}\",\"form.errors.mustBeAfter\":\"{label} must be after {date}\",\"form.confirmation.deactivate\":\"DEACTIVATE\",\"form.confirmation.disable\":\"DISABLE\",\"form.confirmation.delete\":\"DELETE\",\"form.confirmation.leave\":\"LEAVE\",\"form.confirmation.terminate\":\"TERMINATE\",\"form.confirmation.downgrade\":\"DOWNGRADE\",\"form.confirmation.enforce\":\"ENFORCE\",\"form.confirmation.stop\":\"STOP\",\"form.errors.mustBeConfirmationString\":\"Must type {confirmationString}.\",\"form.errors.mustBeAlphaLowercase\":\"{label} must only contain lowercase alpha characters.\",\"form.errors.mustBeAlphanumeric\":\"{label} must only contain alphanumeric characters.\",\"form.errors.mustBeAlphanumericLowercase\":\"{label} must only contain lowercase alphanumeric characters.\",\"form.errors.mustBeAlphanumericDashLowercase\":\"{label} must only contain lowercase alphanumeric characters and dashes.\",\"form.errors.mustBeAlphanumericDots\":\"{label} must only contain alphanumeric characters and dots.\",\"form.errors.mustBeAlphaDashes\":\"{label} must only contain characters or dashes.\",\"form.errors.mustBeAlphanumericDashes\":\"{label} must only contain alphanumeric characters and dashes.\",\"form.errors.mustBeAlphanumericDashesOrEmpty\":\"{label} must only contain alphanumeric characters and dashes or be empty.\",\"form.errors.mustBeAlphanumericDashesDots\":\"{label} must only contain alphanumeric characters, dots and dashes.\",\"form.errors.mustBeAlphanumericDashesDotsSpaces\":\"{label} must only contain alphanumeric characters, dots, dashes and spaces.\",\"form.errors.mustBeAlphanumericDashesUnderscoresDotsSpacesParenthesis\":\"{label} must only contain alphanumeric characters, dots, underscores, dashes, spaces and parenthesis.\",\"form.errors.mustBeAlphanumericDashesDotsOrEmpty\":\"{label} must only contain alphanumeric characters, dots and dashes or be empty.\",\"form.errors.mustBeCron\":\"Invalid cron format.\",\"form.errors.mustBeAlphanumericUnderScoresDashes\":\"{label} must only contain alphanumeric characters, underscores and dashes.\",\"form.errors.mustBeAlphanumericUnderScoresDollarsDashes\":\"{label} must only contain alphanumeric characters, underscores, dollar signs and dashes.\",\"form.errors.mustBeAscii\":\"{label} must only contain ASCII characters.\",\"form.errors.mustBeAlphanumericDashesSpaces\":\"{label} must only contain alphanumeric characters and spaces.\",\"form.errors.mustBeAlphanumericUnderscoreDashesSpacesDots\":\"{label} must only contain alphanumeric characters, spaces, dots, underscores and dashes.\",\"form.errors.mustHaveCIDRLessThanOrEqual\":\"{label} mask must be less than or equal to {length}.\",\"form.errors.mustNotBeFirstIpRange\":\"{label} must be at least the second IP in the range.\",\"form.errors.mustNotBeLastIpRange\":\"{label} must not be the last IP in the range.\",\"form.errors.mustBeIpAddress\":\"{label} must be an IP address.\",\"form.errors.mustBeIpv4Address\":\"{label} must be an IPv4 address.\",\"form.errors.mustBeIpv6Address\":\"{label} must be an IPv6 address.\",\"form.errors.mustBeIpCidr\":\"{label} must be an IP CIDR.\",\"form.errors.mustBeIpv4Cidr\":\"{label} must be an IPv4 CIDR.\",\"form.errors.mustBeIpv6Cidr\":\"{label} must be an IPv6 CIDR.\",\"form.errors.mustBeMacAddress\":\"{label} must be a MAC address.\",\"form.errors.mustBeIpBlock\":\"{label} must be an IP block.\",\"form.errors.mustBeIpAddressOrBlock\":\"{label} must be an IP address or an IP block.\",\"form.errors.mustBePort\":\"{label} ports must be composed of only numeric characters, ranging from 1 to 65535.\",\"form.errors.mustBeNotEmptyList\":\"{label} cannot be empty.\",\"form.errors.mustBeMappedPort\":\"{label} ports must be composed of either only numeric characters, ranging from 1 to 65535, or of two numeric characters, ranging from 1 to 65535 separated by a colon.\",\"form.errors.mustBeGreater\":\"{label} must be greater than {sup}\",\"form.errors.mustBeBetweenOrEqual\":\"{label} must be comprised between {low} and {high}\",\"form.errors.mustBeLess\":\"{label} must be less than {sup}\",\"form.errors.mustBeLessOrEqual\":\"{label} must be smaller or equal to {sup}\",\"form.errors.mustBeValidTwoFA\":\"MFA must be a valid value or one of your backup-keys (6 digits or 32 characters).\",\"form.errors.mustHaveDateBetween\":\"{label} must be between { minimumDate } and { maximumDate }.\",\"form.errors.mustHaveDateHigherThan\":\"{label} must be higher than { date }.\",\"form.errors.mustHaveDateLowerThan\":\"{label} must be lower than { date }.\",\"form.errors.mustNotHaveEmptyLines\":\"Empty lines not allowed\",\"form.errors.mustNotStartOrEndWithWhitespaces\":\"Leading/trailing whitespaces not allowed\",\"form.errors.mustBeHTTPHeaders\":\"Invalid HTTP headers format\",\"form.errors.mustBeJsonFormatted\":\"{label} must be formatted as JSON.\",\"form.errors.mustBeCronSchedule\":\"{label} must be a cron schedule value ex: 0 * * * * .\",\"form.errors.mustBeUniq\":\"You cannot define the same {label}\",\"form.errors.mustNotHaveHash\":\"{label} must not contain #\",\"form.errors.mustNotHaveAmpersand\":\"{label} must not contain &\",\"form.errors.mustBeS3BucketName\":\"Bucket name must have at least 3 characters. Only lowercase letters, numbers, periods (.) and hyphens (-) are accepted.\",\"form.errors.mustBeLowerNumStartByAlphaEndByAlphaNum\":\"{label} must start by an alpha character and end with an alphanumeric character. Characters must be either alphanumeric in lowercase or dashes.\",\"form.fields.description.placeholder\":\"Click to add description\",\"form.fields.email.label\":\"Email address\",\"form.fields.professionalEmail.label\":\"Professional email address\",\"form.fields.email.placeholder\":\"john.doe@scaleway.com\",\"form.fields.password.label\":\"Password\",\"form.fields.password.placeholder\":\"********\",\"form.fields.twoFactorToken.label\":\"Token\",\"form.fields.twoFactorToken.placeholder\":\"123456\",\"form.fields.currentPassword.label\":\"Current password\",\"form.fields.currentPassword.placeholder\":\"********\",\"form.fields.newPassword.label\":\"New password\",\"form.fields.newPassword.placeholder\":\"********\",\"form.fields.password.button.show\":\"Show password\",\"form.fields.password.button.hide\":\"Hide password\",\"form.fields.name.label\":\"Full name\",\"form.fields.name.placeholder\":\"John Doe\",\"form.fields.companyName.label\":\"Company Name\",\"form.fields.companyName.placeholder\":\"Scaleway\",\"form.fields.firstName.label\":\"First name\",\"form.fields.firstName.placeholder\":\"John\",\"form.fields.lastName.label\":\"Last name\",\"form.fields.lastName.placeholder\":\"Doe\",\"form.fields.streetName1.label\":\"Street address\",\"form.fields.streetName1.placeholder\":\"Ex: 221B Baker Street...\",\"form.fields.streetName2.label\":\"Street address 2\",\"form.fields.streetName2.placeholder\":\"Street address 2\",\"form.fields.postalCode.label\":\"Postal code\",\"form.fields.postalCode.placeholder\":\"Ex: 93100\",\"form.fields.phoneNumber.label\":\"Phone number\",\"form.fields.phoneNumber.placeholder\":\"Phone number\",\"form.fields.webhook.label\":\"Webhook url\",\"form.fields.allowAllRange\":\"All ports\",\"form.fields.allowAllIp\":\"All IPs\",\"form.fields.city.label\":\"City\",\"form.fields.city.placeholder\":\"Ex: Paris\",\"form.fields.state.label\":\"State\",\"form.fields.state.placeholder\":\"State\",\"form.fields.country.label\":\"Country\",\"form.fields.country.placeholder\":\"Select your country\",\"form.fields.userCountry.label\":\"Your country\",\"form.fields.cardNumber.label\":\"Card number\",\"form.fields.cardHolder.label\":\"Name on card\",\"form.fields.expirationDate.label\":\"Expiration date\",\"form.fields.cvc.label\":\"CVV/CVC\",\"form.fields.region.label\":\"Region\",\"form.fields.region.placeholder\":\"Region\",\"form.fields.region.unavailable\":\"This region is not available\",\"form.fields.region.outofstock\":\"This region is out of stock\",\"form.fields.vat.label\":\"VAT Number\",\"form.fields.vat.placeholder\":\"VAT Number\",\"form.fields.confirm.placeholder\":\"Type {value} to confirm\",\"form.fields.tags.label\":\"Tags\",\"form.fields.tags.placeholder\":\"Tags\",\"form.fields.date.label\":\"Date\",\"form.fields.date.placeholder\":\"01/01/2019\",\"form.fields.time.placeholder\":\"Time\",\"generic.form.fields.iban.label\":\"Account label\",\"generic.form.fields.bic.label\":\"IBAN\",\"generic.form.fields.bankName.label\":\"Bank name\",\"generic.form.fields.bankAddress.label\":\"Bank Address\",\"generic.form.fields.rule.service\":\"Service\",\"form.fields.rule.service\":\"Service\",\"form.fields.rule.serviceSelect\":\"Rule\",\"form.fields.rule.protocol\":\"Protocol\",\"form.fields.rule.protocolSelect\":\"Protocol\",\"form.fields.frontendName\":\"Frontend name\",\"form.fields.port\":\"Port\",\"form.fields.protocol\":\"Protocol\",\"form.fields.selectInputTags.addButton\":\"Add\",\"form.fields.rule.ports\":\"Port(s)\",\"form.fields.rule.port\":\"Port\",\"form.fields.rule.port.labelFrom\":\"Port: From\",\"form.fields.rule.port.labelTo\":\"Port: To\",\"form.fields.rule.port.placeholder\":\"25\",\"form.fields.rule.ip\":\"IP Range\",\"form.fields.rule.ip.label\":\"IP Range\",\"form.fields.rule.ip.placeholder\":\"0.0.0.0/0\",\"form.fields.rule.addOutbound\":\"Add outbound rule\",\"form.fields.rule.addInbound\":\"Add inbound rule\",\"form.fields.rules.emptyOutbound\":\" No outbound rules defined yet.\",\"form.fields.rules.emptyInbound\":\"No inbound rules defined yet.\",\"form.confirmModal.title\":\"Please confirm\",\"form.confirmModal.buttonText\":\"Yes\",\"form.create.modal.subtitle.billing_info_missing\":\"Validate your billing details\",\"form.create.modal.title.billing_info_missing\":\"Fill in your account information to use our products\",\"form.create.modal.subtitle.payment_info_missing\":\"\",\"form.create.modal.title.payment_info_missing\":\"Validate your payement method\",\"form.input.password.label\":\"Password\",\"form.input.password.placeholder\":\"********\",\"form.input.password.errors\":\"Enter a password.\",\"form.input.password.errors.empty\":\"A password is required.\",\"form.input.password.errors.hasOneUppercase\":\"Password must have at least one uppercase character.\",\"form.input.password.errors.hasOneLowercase\":\"Password must have at least one lowercase character.\",\"form.input.password.errors.hasOneSpecial\":\"Password must have at least one special character.\",\"form.input.password.errors.hasOneNumber\":\"Password must have at least one number.\",\"form.input.password.errors.isLongEnough\":\"Password must be at least 8 characters long.\",\"form.editableText.error\":\"The text update has failed\",\"form.fields.reportabuse.ip.label\":\"IP Address or domain name\",\"form.fields.reportabuse.date.label\":\"Abuse date\",\"form.fields.reportabuse.email.label\":\"Your email\",\"form.fields.reportabuse.content.label\":\"Describe your issue. Make sure to include a time zone when discussing specific times.\",\"form.fields.reportabuse.email.placeholder\":\"john.doe@scaleway.com\",\"form.fields.reportabuse.checkbox.label\":\"Show my email address to the customer\",\"form.fields.reportabuse.type.label\":\"Abuse type\",\"form.noOptions\":\"No options\",\"form.select.placeholder\":\"Select...\",\"components.pagination.prev\":\"Back\",\"components.pagination.next\":\"Next\",\"components.pagination.goTo\":\"Go to page\",\"components.pagination.goToOf\":\"of {pageCount}\",\"components.pagination.goButton\":\"Go\",\"components.pagination.goToError\":\"Page number must be between {min} and {max}\",\"components.expandableText.click\":\"Click to expand\",\"components.expandableText.collapse\":\"Click to collapse\",\"components.volumeSize.title\":\"Total { type } storage:\",\"components.volumeSize.size\":\"{ type } size\",\"components.volumeSize.errorMessage.tooBig\":\"Storage capacity exceeded\",\"components.volumeSize.errorMessage.tooSmall\":\"Not enough storage allocated\",\"components.plans.features\":\"Features\",\"components.plans.outOfStock\":\"out of stock\",\"components.plans.currentPlan\":\"Current plan\",\"server.storage.type.local\":\"local\",\"server.storage.type.block\":\"block\",\"placeholders.search\":\"Search...\",\"protocol.tcp\":\"TCP\",\"protocol.icmp\":\"ICMP\",\"protocol.udp\":\"UDP\",\"protocol.both\":\"Both\",\"public.url\":\"Public URL\",\"size.file.short.B\":\"B\",\"size.file.short.kB\":\"kB\",\"size.file.short.MB\":\"MB\",\"size.file.short.GB\":\"GB\",\"size.file.short.TB\":\"TB\",\"size.file.short.PB\":\"PB\",\"size.file.short.EB\":\"EB\",\"size.file.short.ZB\":\"ZB\",\"size.file.short.YB\":\"YB\",\"size.file.short.BB\":\"BB\",\"size.file.long.B\":\"byte\",\"size.file.long.kB\":\"kilobyte\",\"size.file.long.MB\":\"megabyte\",\"size.file.long.GB\":\"gigabyte\",\"size.file.long.TB\":\"terabyte\",\"size.file.long.PB\":\"petabyte\",\"size.file.long.EB\":\"exabyte\",\"size.file.long.ZB\":\"zettabyte\",\"size.file.long.YB\":\"yottabyte\",\"size.file.long.BB\":\"brontobyte\",\"availability.ended\":\"No longer available\",\"availability.scarce\":\"Low stock\",\"availability.low\":\"Low stock\",\"availability.shortage\":\"Temporarily out of stock\",\"availability.empty\":\"Temporarily out of stock\",\"availability.limitedOffer\":\"Limited Special Offer\",\"availibility.in\":\"This Instance type is available in:\",\"area.fr-par\":\"PARIS\",\"area.nl-ams\":\"AMSTERDAM\",\"area.pl-waw\":\"WARSAW\",\"area.fr-srr\":\"SRR\",\"servers.name\":\"Name\",\"servers.price\":\"Price (excl. tax.)\",\"servers.cores\":\"vCPUs\",\"servers.memory\":\"Memory\",\"servers.gpus\":\"GPUs\",\"servers.vram\":\"VRAM\",\"servers.storage\":\"Storage\",\"servers.bandwidth\":\"Bandwidth\",\"servers.bandwidth.tooltip\":\"Connectivity: {connectivity}\",\"servers.persistentMemory\":\"PMEM\",\"servers.mcpu\":\"mVCPU\",\"servers.rpn\":\"RPN\",\"servers.block\":\"Block\",\"servers.block.tooltip\":\"Up to {maxBlockSize} Block storage\",\"servers.blockLocal\":\"Block / Local\",\"servers.blockLocal.tooltip\":\"Up to {maxLocalSize} and {maxBlockSize} Block Storage\",\"time.short.ms\":\"ms\",\"config.switch.name\":\"Name\",\"config.switch.price\":\"Price (excl. tax.)\",\"pagination.back\":\"Back\",\"pagination.next\":\"Next\",\"pagination.gotolabelPrefix\":\"Go to page\",\"pagination.gotolabelSuffix\":\"of\",\"pagination.gobutton\":\"Go\",\"passwordcheck.one.lowercase\":\"Password must have at least one lowercase character\",\"passwordcheck.one.uppercase\":\"Password must have at least one uppercase character\",\"passwordcheck.one.special\":\"Password must have at least one special character\",\"passwordcheck.one.number\":\"Password must have at least one number\",\"passwordcheck.long.enough\":\"Password must have a minimum of 8 characters\",\"passwordcheck.score\":\"Password strength score\",\"passwordstrengthmeter.title\":\"Password strength\",\"passwordstrengthmeter.error\":\"is too weak\",\"passwordstrengthmeter.veryWeak\":\"Very weak\",\"passwordstrengthmeter.weak\":\"Weak\",\"passwordstrengthmeter.medium\":\"Medium\",\"passwordstrengthmeter.strong\":\"Strong\",\"passwordstrengthmeter.veryStrong\":\"Very strong\",\"passwordstrengthmeter.notice\":\"Some hints to help you create a good password: include a mix of lower-case and upper-case characters, special characters, numbers, and no fewer than 8 characters overall.\",\"phonecodefield.resend\":\"Resend verification code message text\",\"phonecodeverificationfield.resend\":\"Resend code\",\"phonecodeverificationfield.notReceived\":\"Code not received?\",\"phonecodefield.new.code\":\"New code sent.\",\"phonecodefield.label\":\"Verification code\",\"phonecodeselect.country\":\"Country\",\"phonenumber.error\":\"This doesn't appear to be a valid phone number.\",\"projectSwitcher.dashboard\":\"Organization Dashboard\",\"projectSwitcher.projects\":\"Projects\",\"projectSwitcher.create\":\"Create Project\",\"organizationSwitcher.error\":\"Unable to switch organization. Retry\",\"dashboard.dropdown.create\":\" Create\",\"dashboard.dropdown.create.instance\":\"Instance\",\"dashboard.dropdown.create.blockStorage\":\"Block Storage\",\"dashboard.dropdown.create.cockpit\":\"Cockpit\",\"dashboard.dropdown.create.transactionalEmail\":\"Transactional Email\",\"dashboard.dropdown.create.secretManager\":\"Secret Manager\",\"dashboard.dropdown.create.dedibox\":\"Dedibox\",\"dashboard.dropdown.create.elasticMetal\":\"Elastic Metal\",\"dashboard.dropdown.create.appleSilicon\":\"Apple silicon\",\"dashboard.dropdown.create.kubernetes\":\" Kubernetes Cluster\",\"dashboard.dropdown.create.objectStorage\":\"Object Storage Bucket\",\"dashboard.dropdown.create.rdb\":\"Managed Database for PostgreSQL and MySQL\",\"dashboard.dropdown.create.documentDB\":\"Document Databases\",\"dashboard.dropdown.create.serverlessJobs\":\"Serverless Jobs\",\"dashboard.dropdown.create.redis\":\"Managed Database for Redis™\",\"dashboard.dropdown.create.lb\":\"Load Balancers\",\"dashboard.dropdown.create.webhosting\":\"Web Hosting\",\"dashboard.dropdown.create.registry\":\"Container Registry\",\"dashboard.dropdown.create.functions\":\"Functions Namespace\",\"dashboard.dropdown.create.containers\":\"Containers Namespace\",\"dashboard.dropdown.create.iot\":\"IoT Hub\",\"dashboard.dropdown.create.domains\":\"Domains and DNS\",\"dashboard.dropdown.create.publicGateway\":\"Public Gateways\",\"dashboard.dropdown.create.privateNetwork\":\"Private Networks\",\"dashboard.dropdown.create.support\":\"Support Ticket\",\"dashboard.dropdown.create.messaging\":\"Messaging Namespace\",\"dashboard.dropdown.create.messagingInternal\":\"Messaging Namespace\",\"dashboard.dropdown.create.vpc\":\"VPC Private Networks\",\"dashboard.dropdown.create.iam\":\"IAM\",\"dashboard.dropdown.create.ipfs\":\"IPFS Pinning\",\"dashboard.dropdown.create.serverlessDB\":\"Serverless SQL Databases\",\"dashboard.dropdown.menu.home\":\"Home\",\"dashboard.dropdown.menu.profile\":\"Profile\",\"dashboard.dropdown.menu.privacy\":\"Privacy\",\"dashboard.dropdown.menu.organization\":\"Organization\",\"dashboard.dropdown.menu.members\":\"Members\",\"dashboard.dropdown.menu.iam\":\"IAM\",\"dashboard.dropdown.menu.billing\":\"Billing\",\"dashboard.dropdown.menu.credentials\":\"Credentials\",\"dashboard.dropdown.menu.apiKeys\":\"API Keys\",\"dashboard.dropdown.menu.sshKeys\":\"SSH Keys\",\"dashboard.dropdown.menu.projectDashboard\":\"Project Dashboard\",\"dashboard.dropdown.menu.plan\":\"Support plan\",\"dashboard.dropdown.menu.logout\":\"Log out\",\"dashboard.dropdown.menu.support\":\"Support Ticket\",\"dashboard.dropdown.menu.backTickets\":\"Back to tickets\",\"dashboard.dropdown.menu.backPayment\":\"Back\",\"dashboard.dropdown.menu.switchOrganization\":\"Switch organization\",\"dashboard.dropdown.menu.switchOrganization.success\":\"You are now on organization {organization}\",\"dashboard.dropdown.menu.defaultOrgaName\":\"My organization\",\"dashboard.header.organization.label\":\"Organization:\",\"dashboard.modal.switchOrganization.subtitle\":\"Switch organization\",\"dashboard.modal.switchOrganization.confirm\":\"Confirm\",\"dashboard.billing.badge.dediboxNotIncluded\":\"Dedibox not included\",\"dashboard.billing.badge.dediboxNotIncluded.consumption.tooltip\":\"Dedibox consumption does not appear here. Check your invoices to see your Dedibox billing. \",\"dashboard.billing.organization.usage\":\"Organization usage:\",\"dashboard.billing.donut.excl_taxes\":\"excl. taxes\",\"dashboard.billing.donut.with_discount\":\"with discount\",\"dashboard.billing.title\":\"Current consumption\",\"dashboard.billing.last.refresh\":\"Updated\",\"dashboard.billing.no.data\":\"No data yet.\",\"dashboard.billing.info\":\"The data is not instantly refreshed, there may be a delay between your real consumption and the update of your estimate.\",\"dashboard.billing.legend.empty.text\":\"No resources consumed yet.\",\"dashboard.billing.legend.product.name.apple_silicon\":\"Apple Silicon\",\"dashboard.billing.legend.product.name.baremetal\":\"Elastic Metal\",\"dashboard.billing.legend.product.name.compute\":\"Compute\",\"dashboard.billing.legend.product.name.containers\":\"Containers\",\"dashboard.billing.legend.product.name.discount\":\"Discount\",\"dashboard.billing.legend.product.name.instance_gpu\":\"GPU Instances\",\"dashboard.billing.legend.product.name.instance\":\"Instances\",\"dashboard.billing.legend.product.name.iot\":\"IoT\",\"dashboard.billing.legend.product.name.k8s\":\"Kubernetes\",\"dashboard.billing.legend.product.name.kapsule\":\"Kapsule\",\"dashboard.billing.legend.product.name.network\":\"Network\",\"dashboard.billing.legend.product.name.serverless\":\"Serverless\",\"dashboard.billing.legend.product.name.storage\":\"Storage\",\"dashboard.billing.legend.product.name.managed_services\":\"Managed Services\",\"dashboard.billing.legend.product.name.subscription\":\"Support plan\",\"dashboard.billing.legend.product.name.support\":\"Support plan\",\"dashboard.billing.legend.product.name.tools\":\"Tools\",\"dashboard.billing.legend.product.name.fake\":\"Fake\",\"dashboard.billing.legend.product.name.managed_databases\":\"Managed Databases\",\"dashboard.billing.legend.product.name.labs\":\"Labs\",\"dashboard.billing.legend.product.name.observability\":\"Observability\",\"dashboard.billing.legend.product.name.security_and_identity\":\"Security And Identity\",\"dashboard.billing.legend.product.name.unknown\":\"Unknown\",\"dashboard.billing.linkToOrganization\":\"Go to Billing\",\"dashboard.billing.activeAlerts\":\"{activeAlerts, plural, =0 {{activeAlerts} billing alert} =1 {{activeAlerts} billing alert} other {{activeAlerts} billing alerts}}\",\"dashboard.billing.lastInvoice\":\"Last invoice\",\"dashboard.recentFeatures.title\":\"Changelog\",\"dashboard.recentFeatures.linkToChangelog\":\"See more\",\"close.warnings.head\":\"Email address confirmed.\",\"close.warnings.text\":\"You may now close this window.\",\"confirmation.heading\":\"Just a few more steps to join the Scaleway Ecosystem\",\"confirmation.progress.term\":\"Terms of service\",\"confirmation.progress.billing\":\"Billing info\",\"confirmation.progress.phonevalidation\":\"Phone number\",\"confirmation.terms.heading\":\"Read and accept the terms of service.\",\"confirmation.terms.checkbox\":\"I've read and I accept the terms of service.\",\"confirmation.terms.checkbox.error\":\"You must agree to our terms and conditions.\",\"confirmation.terms.button\":\"Next step\",\"validationByToken.heading\":\"Just a last step before returning to the Scaleway Ecosystem\",\"validationByToken.login.2FA.heading\":\"Confirm your account\",\"validationByToken.login.2FA.subtitle\":\"Enter credentials for:\",\"validationByToken.goBackLink\":\"Go to Scaleway console\",\"validationByToken.logout\":\"Log out\",\"validationByToken.emailConfirmation.progress\":\"Email validation\",\"validationByToken.emailConfirmation.success\":\"Email validated.\",\"validationByToken.emailConfirmation.error\":\"Cannot validate the email\",\"validationByToken.emailRejection.progress\":\"Email rejection\",\"validationByToken.emailRejection.success\":\"Email address modification cancelled.\",\"validationByToken.emailRejection.error\":\"Cannot reject the email\",\"validationByToken.address.progress\":\"Address validation\",\"validationByToken.address.success\":\"Billing address changed.\",\"validationByToken.address.error\":\"Cannot validate address.\",\"validationByToken.validateTos.progress\":\"Validate ToS\",\"validationByToken.validateTos.success\":\"Terms of Service validated.\",\"validationByToken.validateTos.error\":\"Cannot validate Terms of Service\",\"confirmation.emailvalidation.heading\":\"Click the verification link sent to {email} to complete the sign-up process. If the email is not in your inbox, check your spam folder.\",\"confirmation.emailvalidation.button\":\"Resend verification link\",\"confirmation.emailvalidation.validation\":\"Email validated.\",\"confirmation.emailvalidation.reloadOrgaError\":\"Failed to get data. Try repeating the email address validation process.\",\"confirmation.emailrejection.validationSuccess1\":\"Email rejected.\",\"confirmation.billing.heading\":\"Fill in your billing details\",\"confirmation.emailvalidation.sendingSuccess\":\"Email sent.\",\"confirmation.emailvalidation.sendingFailure\":\"Failed to send email.\",\"confirmation.billing.individual\":\"Individual account\",\"confirmation.billing.corporate\":\"Corporate account\",\"confirmation.billing.form.error.address\":\"Failed to validate billing address. Verify and retry.\",\"confirmation.billing.form.error\":\"Failed to validate billing information. Try again.\",\"confirmation.phoneValidation.heading\":\"Last step. Add your phone number for security purposes.\",\"confirmation.phoneValidationCode.text\":\"We sent a verification code to {phoneNumber}. Check your messages.\",\"confirmation.phoneValidationCode.submit\":\"Confirm phone number\",\"confirmation.phoneValidationNumber.heading\":\"Validating your phone number is a mandatory step that allows us to limit abuse and fraud.\",\"confirmation.phoneValidationNumber.submit\":\"Validate your phone number\",\"confirmation.payment.heading\":\"Add a payment method to use our services.\",\"confirmation.payment.method.sepa\":\"SEPA\",\"confirmation.payment.method.card\":\"Credit Card\",\"confirmation.payment.method.sepa.addButton\":\"Validate your account 2/2\",\"confirmation.payment.select.card\":\"Select a credit card type to continue\",\"navigation.blog\":\"Blog\",\"navigation.pricing\":\"Pricing\",\"navigation.careers\":\"Careers\",\"navigation.privacy\":\"Privacy\",\"navigation.cookies\":\"Cookies\",\"navigation.api\":\"API\",\"summary.notDefined\":\"Not defined\",\"summary.region.label\":\"Region\",\"summary.az.label\":\"Availability Zone\",\"summary.cost.label\":\"Estimated cost\",\"summary.cost.new.label\":\"New estimated cost\",\"summary.cost.old.label\":\"Current estimated cost\",\"summary.cost.hour\":\"{price}/hour\",\"summary.cost.free\":\"Free\",\"summary.cost.month\":\"{price}/month\",\"summary.cost.year\":\"{price}/year\",\"summary.cost.or\":\"or\",\"summary.submit.label\":\"Create\",\"summary.privacy.label\":\"Privacy Policies\",\"summary.privacy.private\":\"Private\",\"summary.privacy.public\":\"Public\",\"sideSection.products\":\"Products\",\"sideSection.projects\":\"Selected Project\",\"project.create.link\":\"Create Project\",\"project.dashboard.link\":\"Dashboard\",\"project.create.modal.title\":\"Create Project\",\"project.create.modal.notification\":\"Products supporting non-default projects are {products}.\",\"project.create.modal.subtitle\":\"Choose project name and description\",\"project.create.modal.name.label\":\"Project Name\",\"project.create.modal.name.notice\":\"Your project name can only contain alpha
[...]
